#root {
    margin: 1em;
}
.messageBox {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: lavender;
    border-radius: 1em;
    overflow-y: scroll;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    height: 25vw;
    width: 50vw;
}
   

.btn {
    margin-right: 1em
}

.form-text-box {
    width: 50vw;
    overflow-wrap: break-word;
    overflow-y: auto
}