.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .event {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .event:first-child {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 4px solid goldenrod;
    font-weight: bold;
}